<div class="actions">
  @if (isLoading) {
    <app-spinner></app-spinner>
  }
</div>
<app-table
  title="{{ 'commands.commands-list.title' | translate }}"
  [columns]="columns"
  [data]="displayedCommands"
  (selectionChange)="onSelectionChange($event)"
  (showDetatail)="showDetails($event)"
  (search)="onSearch($event)"
  [showAddButton]="false"
  [showEdit]="false"
  [showDelete]="false"
  [showImport]="false"
  [showDetails]="true"
  [total]="displayedCommands?.length"
  [searchPlaceholder]="'commands.commands-list.search-placeholder' | translate"
></app-table>
