<ul class="navbar-nav">
  <li>
    <div class="dropdown" ngbDropdown placement="auto">
      @if (count){
        <span class="position-absolute start-100 translate-middle badge rounded-pill bg-danger"
              style="top: 15px;">
          {{ count }}
          <span class="visually-hidden">unread messages</span>
        </span>
      }

      <div ngbDropdown (openChange)="onDropdownChange($event)">
        <a ngbDropdownToggle href="javascript:" data-toggle="dropdown">
          <i class="icon feather icon-bell"></i>
        </a>

        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end notification">
          <div class="notification-head">
            <h6 class="d-inline-block m-b-0">{{ 'navBar.notifications'|translate }}</h6>
          </div>

          <ul class="notification-body">
            <li class="notification">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <app-command-notification></app-command-notification>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </li>

  <li>
    <div class="dropdown drp-user" ngbDropdown placement="auto">
      <a href="javascript:" ngbDropdownToggle>
        <i class="icon feather icon-settings"></i>
      </a>

      <div class="dropdown-menu dropdown-menu-end profile-notification" ngbDropdownMenu>
        <div class="pro-head">
          <i class="feather icon-user fs-4 me-2 text-secondary"></i>
          <span>{{ connectedUser?.name }}</span>

          <a href="javascript:" (click)="logOut()" class="dud-logout" title="{{'navBar.logout' | translate}}">
            <i class="feather icon-log-out"></i>
          </a>
        </div>

        <ul class="pro-body">
          <li>
            <a routerLink="/profile" class="dropdown-item">
              <i class="feather icon-user"></i> {{ 'navBar.profile' | translate }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li>

  <li>
    <div class="dropdown drp-lang" ngbDropdown placement="auto">
      <a href="javascript:" ngbDropdownToggle>
        <i class="feather icon-globe"></i>
      </a>

      <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
        <button class="dropdown-item" (click)="changeLanguage('en')">
          🇬🇧 English
        </button>
        <button class="dropdown-item" (click)="changeLanguage('fr')">
          🇫🇷 Français
        </button>
        <button class="dropdown-item" (click)="changeLanguage('ar')">
          🇸🇦 العربية
        </button>
      </div>
    </div>
  </li>

</ul>
