<div class="row">
  <div class="col-xl-12">
    <app-card [cardTitle]="title" [options]="false" blockClass="table-border-style">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="d-flex gap-2">
          @if (showAddButton) {
          <button class="btn btn-success" (click)="addNew.emit()">
            <i class="feather icon-plus me-1"></i>
          </button>
          }
          @if (showImport) {
            <button class="btn btn-primary" (click)="import.emit()">
              <i class="feather icon-upload me-1"></i>
            </button>
          }
        </div>
        <div class="d-flex align-items-center gap-2">
          <input
            class="form-control"
            style="width: 320px"
            [placeholder]="searchPlaceholder"
            (input)="search.emit($any($event.target).value)"
          />
          <div class="text-muted small">Total: {{ this.total }}</div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              @if (showSelected) {
                <th>
                  <div class="table-selection">
                    <input type="checkbox" [checked]="allSelected" (change)="toggleAll($event)" />
                    <span>{{ 'table.selectAll' | translate }}</span>
                  </div>
                </th>
              }
              @for (col of columns; track $index) {
                <th>{{ col.header }}</th>
              }
              @if (showEdit || showDelete) {
                <th>{{ 'buttons-action.title' | translate }}</th>
              }
            </tr>
          </thead>
          <tbody>
            @for (row of pagedData; track $index; let i = $index) {
              <tr>
                @if (showSelected) {
                  <td>
                    <!-- offset + i = index global dans data -->
                    <input type="checkbox" [checked]="selectedRows.has(offset + i)" (change)="toggleRow(offset + i)" />
                  </td>
                }
                @for (col of columns; track $index) {
                  @if (col.img == true) {
                    @if (row[col.field]) {
                      <img [src]="row[col.field]" class="img-thumbnail mt-2" style="max-height: 50px" />
                    }
                    @if (!row[col.field]) {
                      <img src="assets/images/image-not.png" class="img-thumbnail mt-2" style="max-height: 50px" />
                    }
                  }
               <!--   @if (col.img != true) {
                    <td>{{ row[col.field] }}</td>
                  } -->
                  @if (col.type === 'date') {
                    <td>{{ row[col.field] | date: col.format ?? 'shortDate' }}</td>
                  } @else {
                    <td>{{ row[col.field] }}</td>
                  }
                }
                @if (showEdit || showDelete || showDetails) {
                  <td>
                    @if (showEdit) {
                        <button type="button" class="btn btn-sm btn-outline-primary me-2" (click)="onEdit(row)" title="{{'buttons-action.edit'| translate}}">
                        <i class="feather icon-edit-2"></i>
                      </button>
                    }
                    @if (showDelete) {
                      <button type="button" class="btn btn-sm btn-outline-danger" (click)="onDelete(row)" title="{{ 'buttons-action.delete' | translate }}">
                        <i class="fa fa-trash"></i>
                      </button>
                    }
                    @if (showDetails){
                      <button type="button" class="btn btn-sm btn-outline-info" (click)="onShowDetails(row)" title="{{ 'buttons-action.showDetails' | translate }}">
                        <i class="fa fa-eye"></i>
                      </button>
                    }
                  </td>
                }
              </tr>
            }
          </tbody>
        </table>
      </div>
    </app-card>

    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-end">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button type="button" class="page-link" (click)="goToPage(currentPage - 1)">&laquo;</button>
        </li>
        @for (p of pages; track p) {
          <li class="page-item" [class.active]="currentPage === p">
            <button type="button" class="page-link" (click)="goToPage(p)">
              {{ p }}
            </button>
          </li>
        }
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button type="button" class="page-link" (click)="goToPage(currentPage + 1)">&raquo;</button>
        </li>
      </ul>
    </nav>
  </div>
</div>
