<app-page-header title="Pharmacies">
  @if (isLoading) {
    <app-spinner></app-spinner>
  }
  <button (click)="onAddNew()" class="btn btn-success">
    <i class="fa fa-plus"></i>
    {{ 'buttons-action.add' | translate }}
  </button>
</app-page-header>
<app-table
  title="Pharmacies"
  [columns]="columns"
  [data]="store.items()"
  (selectionChange)="onSelectionChange($event)"
  (edit)="onEdit($event)"
  (delete)="onDelete($event)"
  [showEdit]="true"
  [showDelete]="true"
  [total]="store.total()"
  (addNew)="onAddNew()"
  (search)="onSearch($event)"
  [searchPlaceholder]="'Search pharmacies...'"
  [page]="store.page()"
  [pageSize]="store.pageSize()"
  (pageChange)="onPageChange($event)"
></app-table>
