<div class="row">
  @if (isLoading) {
    <app-spinner></app-spinner>
  }
  <div class="col-xl-12">
    <button style="float: right" [routerLink]="['/articles/index']" class="btn btn-danger mb-4">
      <i class="fa fa-arrow-left"></i>
      {{ 'buttons-action.back' | translate }}
    </button>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="{{ 'articles.remise.title' | translate }} - {{ articleName }}" [options]="false" blockClass="table-border-style">
      <div class="mt-3">
        <button class="btn btn-success" (click)="onAddNew()">
          <i class="feather icon-plus me-1"></i>
        </button>
      </div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>{{ 'articles.remise.min' | translate }}</th>
              <th>{{ 'articles.remise.max' | translate }}</th>
              <th>{{ 'articles.remise.percent' | translate }}</th>
              <th>{{ 'buttons-action.title' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            @if (remises && remises.length > 0) {
              @for (remise of remises; track remise.id) {
                <tr>
                  <td>{{ remise.min }}</td>
                  <td>{{ remise.max }}</td>
                  <td>{{ remise.percent }}%</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-primary me-2"
                      (click)="onEdit(remise)"
                      [title]="'buttons-action.edit' | translate"
                    >
                      <i class="feather icon-edit-2"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-danger"
                      (click)="deleteRemise(remise)"
                      [title]="'buttons-action.delete' | translate"
                    >
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              }
            } @else {
              <tr>
                <td colspan="4" class="text-center text-muted">
                  {{ 'articles.remise.noData' | translate }}
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
