<div class="actions">
  @if (isLoading) {
    <app-spinner></app-spinner>
  }
</div>
<app-table
  title="{{ 'listings.listing-list.title' | translate }}"
  [columns]="columns"
  [data]="listings"
  (selectionChange)="onSelectionChange($event)"
  (edit)="onEdit($event)"
  (delete)="deleteListing($event)"
  [showEdit]="true"
  [showDelete]="true"
  [total]="listings.length"
  (addNew)="onAddNew()"
  (search)="onSearch($event)"
  [searchPlaceholder]="'listings.listing-list.search-placeholder' | translate"
></app-table>
