<div class="modal-header">
  <h5 class="modal-title">{{ 'articles.importModal.title' | translate }}</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="onCancel()"></button>
</div>
<div class="modal-body">
  <p class="mb-2">{{ 'articles.importModal.description' | translate }}</p>
  <input
    type="file"
    class="form-control"
    (change)="onFileChange($event)"
    accept=".xls,.xlsx,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
  />
  <div class="mt-2" *ngIf="file">
    <small>
      {{ 'articles.importModal.selectedFile' | translate }}:
      <strong>{{ file.name }}</strong>
    </small>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onCancel()">{{ 'buttons-action.cancel' | translate }}</button>
  <button type="button" class="btn btn-primary" [disabled]="!file" (click)="onImport()">
    {{ 'articles.importModal.import' | translate }}
  </button>
</div>
