<div class="actions">
  @if (isLoading) {
    <app-spinner></app-spinner>
  }
</div>
<app-table
  title="{{ 'articles.article-list.title' | translate }}"
  [columns]="columns"
  [data]="displayedArticles"
  (selectionChange)="onSelectionChange($event)"
  (edit)="onEdit($event)"
  (delete)="deleteArticle($event)"
  (import)="importArticle($event)"
  (togglePublish)="togglePublish($event)"
  [showEdit]="true"
  [showDelete]="true"
  [showImport]="true"
  [showPublishToggle]="true"
  [total]="displayedArticles.length"
  (addNew)="onAddNew()"
  (search)="onSearch($event)"
  [searchPlaceholder]="'common.search' | translate"
></app-table>
