<div class="actions">
  @if (isLoading) {
    <app-spinner></app-spinner>
  }
</div>
<app-table
  title="{{ 'articles.article-list.title' | translate }}"
  [columns]="columns"
  [data]="articles"
  (selectionChange)="onSelectionChange($event)"
  (edit)="onEdit($event)"
  (delete)="deleteArticle($event)"
  [showEdit]="true"
  [showDelete]="true"
  [total]="articles.length"
  (addNew)="onAddNew()"
  (search)="onSearch($event)"
  [searchPlaceholder]="'articles.article-list.search-placeholder' | translate"
></app-table>
