<div class="row">
  @if (isLoading) {
    <app-spinner></app-spinner>
  }
  <div class="col-xl-12">
    <button style="float: right" [routerLink]="['/articles/index']" class="btn btn-danger mb-4">
      <i class="fa fa-arrow-left"></i>
      {{ 'buttons-action.back' | translate }}
    </button>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="{{ 'articles.article-update.title' | translate }}" [options]="false" blockClass="table-border-style">
      <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="reference" class="form-label">{{ 'common.reference' | translate }}</label>
            <input
              type="text"
              class="form-control"
              id="reference"
              formControlName="reference"
              placeholder="{{ 'articles.article-update.referencePlaceholder' | translate }}"
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="name" class="form-label">{{ 'common.name' | translate }}</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
              placeholder="{{ 'articles.article-update.namePlaceholder' | translate }}"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="price" class="form-label">{{ 'common.price' | translate }}</label>
            <input
              type="number"
              class="form-control"
              id="price"
              formControlName="price"
              placeholder="{{ 'articles.article-update.pricePlaceholder' | translate }}"
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="categoryId" class="form-label">{{ 'common.category' | translate }}</label>
            <select name="" id="" class="form-control" formControlName="categoryId">
              <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="expiryDate" class="form-label">{{ 'articles.article-update.expiryDate' | translate }}</label>
            <input type="date" class="form-control" id="expiryDate" formControlName="expiryDate" />
          </div>
          <div class="col-md-6 mb-3">
            <label for="image" class="form-label">{{ 'common.image' | translate }}</label>
            <input type="file" class="form-control" aria-label="file example" id="image" (change)="onFileChange($event)" />
          </div>
          @if (imagePath) {
            <div class="col-md-6 mb-3">
              <img [src]="imagePath" alt="Preview" class="img-thumbnail" style="max-height: 120px; max-width: 100%" />
            </div>
          }
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="barcode" class="form-label">{{ 'articles.article-update.barcode' | translate }}</label>
            <input
              type="text"
              class="form-control"
              id="barcode"
              formControlName="barcode"
              placeholder="{{ 'articles.article-update.barcodePlaceholder' | translate }}"
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="description" class="form-label">{{ 'common.description' | translate }}</label>
            <textarea
              class="form-control"
              id="description"
              formControlName="description"
              rows="3"
              placeholder="{{ 'articles.article-update.descriptionPlaceholder' | translate }}"
            ></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="articleForm.invalid">{{ 'common.save' | translate }}</button>
      </form>
    </app-card>
  </div>
</div>
